web_helper message
<br>
<%= @message.id %>
<br>
<%= @message.created_at %>: <span><%= @message.text %></span>
<br>

<form action="/message/<%= @message.id %>" method="post">
  <input name="_method" type="hidden" value="put">
  <textarea name="message[text]" id="text"><%= @message.text %></textarea>
  <input type="submit" value="Update">
</form>
